.warna1 {
    background-color: yellow;
    color: black;
    padding: 10px;
    margin: 5px;
}
.warna2 {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    margin: 5px;
}
.warna3 {
    background-color: rgb(0, 255, 255);
    color: white;
    padding: 10px;
    margin: 5px;
}
.warna4 {
    background-color: rgba(255, 0, 150, 0.5);
    color: black;
    padding: 10px;
    margin: 5px;
}
.warna5 {
    background-color: hsl(250, 100%, 20%);
    color: white;
    padding: 10px;
    margin: 5px;
}
.warna6 {
    background-color: hsla(120, 100%, 75%, 0.7);
    color: black;
    padding: 10px;
    margin: 5px;
}