.paragraf-1 {
    font-size: 35px;
    font-weight: lighter;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.paragraf-2 {
    font-size: 150%;
    font-weight: normal;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.paragraf-3 {
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.paragraf-4 {
    font-size: 2rem;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paragraf-5 {
    font-size: large;
    font-weight: 800;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
