h1 {
    font-size: 30px;
}

p {
    font-size: 15pt;
}

.box1 {
    width: 10cm;
    height: 2cm;
    background-color: aqua;
}

.box2 {
    width: 20%;
    height: 13%;
    background-color: aquamarine;
}