/* Styles for the external CSS file (tugas3-css.html) */
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: aqua; 
    font-size: 30px; 
    text-align: center;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine; 
    font-size: 20px; 
    text-align: center;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rebeccapurple; 
    font-size: 15px; 
    text-align: center;
}